/generated/work/
/vendor/cpx-1.1.0/include/
/vendor/cpx-1.1.0/lib/
/vendor/cpx-1.1.0/share/
/vendor/xtb-6.7.1/include/
/vendor/xtb-6.7.1/lib/
/vendor/xtb-6.7.1/share/licenses/
/vendor/xtb-6.7.1/share/man/
/vendor/xtb-6.7.1/share/modules/